Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

$$\bar{X}_n-t_{1-\frac{\alpha}{2}} \frac{S}{\sqrt{n}} \le \mu \le \bar{X}_n-t_{1+\frac{\alpha}{2}} \frac{S}{\sqrt{n}}$$

In [21]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [17]:
data = pd.read_csv('water.txt', sep="\t")
data.columns

Index([u'location', u'town', u'mortality', u'hardness'], dtype='object')

In [29]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [46]:
data.describe()

         mortality    hardness
count    61.000000   61.000000
mean   1524.147541   47.180328
std     187.668754   38.093966
min    1096.000000    5.000000
25%    1379.000000   14.000000
50%    1555.000000   39.000000
75%    1668.000000   75.000000
max    1987.000000  138.000000

In [18]:
values = data['mortality'].values

In [26]:
mean = values.mean()
std=values.std(ddof=1)/np.sqrt(len(values))
interval = _tconfint_generic(mean, std, len(values)-1, 0.05, 'two-sided')

In [28]:
print '95% confident interval is ', np.round_(interval,4)

95% confident interval is  [ 1476.0833  1572.2117]

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.
На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим?

In [42]:
def get_interval(values, alpha):
    mean = values.mean()
    std=values.std(ddof=1)/np.sqrt(len(values))
    return _tconfint_generic(mean, std, len(values)-1, alpha, 'two-sided')

In [43]:
south_values = data[data.location == 'South']['mortality'].values
print '95% confident interval for south cities is ', np.round_(get_interval(south_values,0.05),4)

95% confident interval for south cities is  [ 1320.1517  1433.4636]

In [44]:
north_values = data[data.location == 'North']['mortality'].values
print '95% confident interval for south cities is ', np.round_(get_interval(north_values,0.05),4)

95% confident interval for south cities is  [ 1586.5605  1680.6395]

Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [45]:
south_hardness_values = data[data.location == 'South']['hardness'].values
north_hardness_values = data[data.location == 'North']['hardness'].values
print '95% confident interval for south cities hardness is ', np.round_(get_interval(south_hardness_values,0.05),4)
print '95% confident interval for north cities hardness is ', np.round_(get_interval(north_hardness_values,0.05),4)

95% confident interval for south cities hardness is  [ 53.4672  86.0713]
95% confident interval for north cities hardness is  [ 21.4225  39.3775]

$$\bar{X}_n \pm z_{1-\frac{\alpha}{2}} \frac{\sigma}{\sqrt{n}}$$

При σ=1 какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью ±0.1?

In [88]:
from scipy.stats import norm
n = int(np.ceil((1*norm.ppf(0.975)/0.1)**2))
n

385

Объём выборки, необходимый для построения доверительного интервала заданной ширины:
увеличивается с ростом дисперсии выборки
уменьшается с ростом α
увеличивается с уменьшением требуемой ширины

In [47]:
from statsmodels.stats.proportion import samplesize_confint_proportion

In [73]:
np.random.seed(1)
statistical_population = np.random.normal(0, 1, size=100000)
random_sample = np.random.choice(statistical_population, size = 1000)

In [76]:
n_samples = int(np.ceil(samplesize_confint_proportion(random_sample.mean(), 0.02, 0.05)))
n_samples

150