In [1]:
import numpy as np;
import pandas as pd;
from  math import *;
from collections import Counter;

In [2]:
train = pd.read_csv('coursera_sessions_train.txt', sep=';', names=['see', 'buy'])
test = pd.read_csv('coursera_sessions_test.txt', sep=';', names=['see', 'buy'])

In [3]:
train = train.fillna('')
test = test.fillna('')

In [4]:
i=6
print train.buy[i]

In [5]:
train['see_items'] = train['see'].apply(lambda x: [int(ind) for ind in x.split(',')])
train['n_unique_see_items'] = train['see_items'].apply(lambda x: len(set(x)))
train['buy_items'] = train['buy'].apply(lambda x: [] if len(x)==0 else [int(ind) for ind in x.split(',')])

test['see_items'] = test['see'].apply(lambda x: [int(ind) for ind in x.split(',')])
test['n_unique_see_items'] = test['see_items'].apply(lambda x: len(set(x)))
test['buy_items'] = test['buy'].apply(lambda x: [] if len(x)==0 else [int(ind) for ind in x.split(',')])

In [7]:
see_count = Counter()
for s in train.see_items:
    see_count.update(s)
    
buy_count = Counter()
for b in train.buy_items:
    buy_count.update(b)

In [8]:
def sortByCounts(x, y):
    if (x[1] > y[1]):
        return 1
    elif (x[1] < y[1]):
        return -1
    if (x[0] < y[0]):
        return 1
    elif (x[0] > y[0]):
        return -1
    return 0

def by_see_freq(k, ids):
    counts = [(id, see_count[id]) for id in ids]
    counts.sort(cmp=sortByCounts, reverse=True)
    return [x[0] for x in counts[:k]]

def by_buy_freq(k):
    counts = [(id, buy_count[id]) for id in ids]
    counts.sort(cmp=sortByCounts, reverse=True)
    return [x[0] for x in counts[:k]]

def intersect(a, b):
    return [x for x in a if (x in b)]

In [30]:
ids = train.ix[7].see_items
counts = [(id, see_count[id]) for id in ids]
def sortByCounts(x, y):
    if (x[1] > y[1]):
        return 1
    elif (x[1] < y[1]):
        return -1
    if (x[0] < y[0]):
        return 1
    elif (x[0] > y[0]):
        return -1
    return 0
    
counts.sort(cmp=sortByCounts, reverse=True)
counts[:5]

[(63, 6), (64, 3), (60, 2), (60, 2), (61, 2)]

In [10]:
sessions = train[train.apply(lambda x: len(x['buy_items']) > 0, axis=1)]
sessions.head(10)

,see,buy,see_items,n_unique_see_items,buy_items
7,"59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63","[59, 60, 61, 62, 60, 63, 64, 65, 66, 61, 67, 6...",10,"[67, 60, 63]"
10,"84,85,86,87,88,89,84,90,91,92,93,86",86,"[84, 85, 86, 87, 88, 89, 84, 90, 91, 92, 93, 86]",10,[86]
19,"138,198,199,127",199,"[138, 198, 199, 127]",4,[199]
30,"303,304,305,306,307,308,309,310,311,312",303,"[303, 304, 305, 306, 307, 308, 309, 310, 311, ...",10,[303]
33,"352,353,352",352,"[352, 353, 352]",2,[352]
55,519,519,[519],1,[519]
64,"599,600,601,602","603,604,602,599,605,606,600","[599, 600, 601, 602]",4,"[603, 604, 602, 599, 605, 606, 600]"
72,"687,688,689,690,691,690,688,690,688,692","690,688","[687, 688, 689, 690, 691, 690, 688, 690, 688, ...",6,"[690, 688]"
89,"850,851,852",851,"[850, 851, 852]",3,[851]
93,"879,884,170,137,170,879,884,879,885,886,879,88...",879,"[879, 884, 170, 137, 170, 879, 884, 879, 885, ...",8,[879]

In [11]:
sessions.buy_items.values[0]

[67, 60, 63]

In [18]:
def avg_precision(k, recommend_model):
    precision = 0
    for items, n_seen in zip(sessions.buy_items.values, sessions.n_unique_see_items.values):
        n = min(k, n_seen)
        recommended = recommend_model(n)
        precision += len(intersect(recommended, items)) / float(k)
    precision /= len(sessions)
    return precision
    
def avg_recall(k, recommend_model):
    recall = 0
    for items, n_seen in zip(sessions.buy_items.values, sessions.n_unique_see_items.values):
        n = min(k, n_seen)
        recommended = recommend_model(n)
        recall += len(intersect(recommended, items)) / float(len(items))
    recall /= len(sessions)
    return recall

In [14]:
k = 1
avg_precision1_by_see = avg_precision(k, by_see_freq)
print 'Average precision for k=%i for By See Frequency algorythm: %f' % (k, avg_precision1_by_see)
avg_recall1_by_see = avg_recall(k, by_see_freq)
print 'Average recall for k=%i for By See Frequency algorythm: %f' % (k, avg_recall1_by_see)

Average precision for k=1 for By See Frequency algorythm: 0.003049
Average recall for k=1 for By See Frequency algorythm: 0.001578

In [20]:
k = 1
avg_precision1_by_buy = avg_precision(k, by_buy_freq)
print 'Average precision for k=%i for By Buy Frequency algorythm: %f' % (k, avg_precision1_by_buy)
avg_recall1_by_buy = avg_recall(k, by_buy_freq)
print 'Average recall for k=%i for By Buy Frequency algorythm: %f' % (k, avg_recall1_by_buy)

Average precision for k=1 for By Buy Frequency algorythm: 0.003880
Average recall for k=1 for By Buy Frequency algorythm: 0.002721

In [21]:
k = 5
avg_precision5_by_buy = avg_precision(k, by_buy_freq)
print 'Average precision for k=%i for By Buy Frequency algorythm: %f' % (k, avg_precision5_by_buy)
avg_recall5_by_buy = avg_recall(k, by_buy_freq)
print 'Average recall for k=%i for By Buy Frequency algorythm: %f' % (k, avg_recall5_by_buy)

Average precision for k=5 for By Buy Frequency algorythm: 0.002605
Average recall for k=5 for By Buy Frequency algorythm: 0.007335

[1, 3, 3, 7]